
	CSS Syntax

	To be able to properly style elements with CSS, we use our CSS Rule Set

	selector{
		property:  value;
	}
/*universal selector - this allow us to select all elements*/
*{
	/*font-family property changes the font of our text.
		font-family:  "Font Name", fallbackfont;
			-fallback font is the backup in the event that the font doest not load or is not able to be loaded.
			-fallback font allows CSS to find a similar font with your main font.
			-value of fallback font is usualy the fami;y of the main font.
		font-size property allows us to change the size of the text.
			-default font size is 16px.
		*/
	font-family: "Courier New", monospace; 
	font-size: 20px;
}

/* type selector - allows us to select all elements with the same type/tag. */
h1{
	/*

		color property allows us to change the color of the element's text.
		text-align allows us to change the alignment of our text.

		rem is a measurement in CSS which means number x the default suze of the root element's (HTML) font.

		
	*/
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

/*id selector is represent in CSS with#*/
/*

	#idName{
		property:  value;
	}
*/
#zuitt-motto{
	/*allows us to add spacing between characters*/
	letter-spacing: 5px;
}

/*Class selector is represented in CSS with . */
/*
	.classNme{
		property:  value;
	}

*/
/*
li{
	font-size: 30px;*/
}

.offering-item{
	/*text-transform allows us to change the case of an element's text*/
	/*uppcase value allows us to change the case of the element into uppercase*/
	text-transform: uppercase;
/*	font-size: 50px;
}*/
/*
#day-class{
	font-size: 100px !important; */
}

/*	specificity of Selectors

	id > class > attribute> type > universal(*)

	Specificity of Implementation
	Inline > Internal > External

	!important keyword allows us to override the specificity for a declarations.
	only in ID selector.

	The most specific declaration is when the declaration is in an id selector and with !imporant.
	<li class="offering-item" id="day-class" style="font-size: 5px;">Day Classes</li>

*/

/*

	Attribute Selector - allows us to select elements with the same tag and attribute

		tag[attribute]{
			property:  value;
		}

*/

input[required]{

	/*

		border-with(Property) - allows us to set the size of an elements border.
		border-style- allows us to set the style of the border.
		border-color allows us to set the color of our border.
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;

	/*
		% percentage is also a form measurement in CSS. % percentage when used on width
			represents a percentage of the parent's width.

			The input's width is now 90% of the parent's width.
	*/
	width: 90%;
}

/*input{
	border-width: 4px;
	border-style: solid;
	border-color: green;
}

.fname-input {
	border-width: 6px;
	border-style: solid;
	border-color: red;	
}

#first-name{
	border-width: 10px;
	border-style: solid;
	border-color: yellow;		
}*/


/*

	Adjacent Sibling Selector Combinator
		-allows us to select the sibling directly after the first selector
*/

#zuitt-motto + img {
	/*
		height and width properties allows us to resize an element based on the values provided as height or width.
			-The difference between height and width html attribute and height and width css property is that height and width in CSS is more flexible and can use other measure than pixel.
	
		border-radius allows us to round out the corners of an element.	
	*/

	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*

	General Sibling Selector
		allows us to select the elements that are siblings of our first elements
	syntax: ;
	firstSelector ~ generalSibling{
		property:  value;
	}

*/
h2 ~ a{
	/*text decoration:  none; allows us to remove the text decoration from our element*/
	text-decoration: none;
}

/*

	Descendant Selector - allows us to select the elements that are descendants of our first element/selector

	firstSelector Descendant{
		property:  value;
	}
*/

#bootcamp-learning-list li{
	/*the color chosen used hex decimal. It is an alphanumeric combination which allows us to select a more particular color*/
	color: #0759;
}

nav{
	/*
		background-color allows us to change the bg color of an element.

		display:  flex; lets us the flex box

		Flexbox allows us to manipulate the layout of an element's children.
		By default, adding display; flex; arranges an element children in row.

		By default, justiy-content allows children of an element with flex to be alble to change their horizontal alignment.
	
		justify-content- space-between; allows us to automatically add the remaining space in a parent between it children.
	*/
	background-color: white;
	display: flex;
	justify-content: space-between;

}
nav a {
	text-decoration: none;
}


/*
	CHILD SELECTOR - allows us to select the child/children of the first selextor or element.

	firstSelector > children {
		property: value;
	}
*/

section > form > label{
/*rbg() is a value for color. RGB refer to red, green and blue values. The min vvalue is 0 and maxi is 255.
By creating or add the approopriate amount of rgb values, you can come up to a more specificcolor
*/
	color: rgb(0,0,128);
}


body {
	background-color: skyblue;
}

a:hover{
	background-color: #b4d6de;
}

section{
	/*

		vh is a measurement in CSS. It is a percentage of the total height of the viewport.

		vh = viewport height

		100vh = 100% of our viewport's height.

		The view port is the overall space you can view your page in.

	*/
	height: 100vh;
	text-align: center;
}
form{
	/* vw - viewport width, it is a measurement based on a percentage of the width ofyour viewport */
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;

	/*center the children*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

#register {
	/*text align only centers the text and inline elements. But actual block elements are note centered.*/
	display: flex;
	/*
		flex-direction:  column - allows us to arrange the children of a flex parent into a column;

		IF we use flex direction column on a flex parent(a element that has a display FLEX):
			justify-content is now use for vertical alignment
	
			align-items is now used for horizontal alignment.
	*/
	flex-direction: column;
	align-items: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	/*list style type property allows us to change the list style of our li in a list*/
	list-style-type: none;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}