#external-styling{
	color: #FFFF00;
}

*{
	font-family: "Verdana", sans-serif; 
	font-size: 20px;
}

h1{
	font-size: 3rem;
}

#h2-uppercase{
	text-transform: uppercase;
}

.language-learned{
	background-color: #90EE90;
}

.tool-used{
	border-color: #0000FF;
	border-width: 2px;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}

img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;

}